<ng-container *ngIf="medias?.typeMedia?.title == 'Video'">
  <iframe
    width="700"
    height="400"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ"
    title="Rick Astley - Never Gonna Give You Up (Official Music Video)"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</ng-container>

<iframe
  *ngIf="medias?.typeMedia?.title == 'Audio'"
  width="100%"
  height="300"
  scrolling="no"
  frameborder="no"
  allow="autoplay"
  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/360226709&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
></iframe>

<iframe
  *ngIf="medias?.typeMedia?.title == 'PDF'"
  src="../../../../assets/medias/pdf/Streamer_Projet_Final.pdf"
  width="700px"
  height="500px"
>
</iframe>

<iframe
  *ngIf="medias?.typeMedia?.title == 'Document'"
  src="../../../../assets/medias/pdf/Streamer_Projet_Final.pdf"
  width="900px"
  height="800px"
>
</iframe>

<img
  *ngIf="medias?.typeMedia?.title == 'Image'"
  src="../../../../assets/medias/images/angular cheat sheet.jpg"
  width="100%"
  height="100%"
/>
<ng-container *ngIf="medias?.typeMedia?.title == 'Animation'">
  <img
    src="https://aircodr.com/9d643f53934a11f35e1824df87fdbe33/illustration.gif"
  />
</ng-container>
