<div class="flex items-center dark:text-white">
  <!-- AVATAR -->
  <div
    mat-button
    class="flex flex-row items-center align-middlew-10 h-10 bg-cover rounded gap-4"
    [matMenuTriggerFor]="menu"
  >
    <img
      src="assets/images/avatar-{{ memberData.getRoleName() }}.jpg"
      class="rounded w-10 h-10 overflow-hidden bg-indigo-900"
      alt=""
    />
  </div>
  <!-- MENU -->
  <mat-menu
    #menu="matMenu"
    xPosition="before"
    class="no-styles max-w-screen-sm"
  >
    <div
      class="divide-y divide-neutral-600/30 p-6 rounded-xl bg-primary-50 dark:bg-primary-950 shadow-sm"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
    >
      <div class="flex flex-row px-2 py-4 items-center align-middle gap-2">
        <img
          src="assets/images/avatar-{{ memberData.getRoleName() }}.jpg"
          class="rounded-full h-16 w-16"
          alt=""
        />
        <div class="flex flex-col text-sm">
          <span class="">{{ memberData.firstName }}</span>
          <span class="dark:text-neutral-400">{{
            memberData.getRoleName()
          }}</span>
          <span
            class="truncate font-light text-neutral-400 flex flex-row align-middle items-center"
          >
            {{ memberData.email }}
          </span>
        </div>
      </div>
      <div class="p-2 space-y-1">
        <div *ngIf="currentMemberRoleName() === 'conceptor'" class="space-y-1">
          <button
            [routerLink]="['/dashboard/conceptor/course']"
            routerLinkActive="bg-primary-100 dark:bg-primary-800"
            class="btn btn-menu"
          >
            Courses Management
          </button>
          <button
            [routerLink]="['/dashboard/conceptor/module']"
            routerLinkActive="bg-primary-100 dark:bg-primary-800"
            class="btn btn-menu"
          >
            Modules
          </button>
          <button
            [routerLink]="['/dashboard/conceptor/media']"
            routerLinkActive="bg-primary-100 dark:bg-primary-800"
            class="btn btn-menu"
          >
            Medias Hub
          </button>
        </div>
        <div *ngIf="currentMemberRoleName() === 'student'">
          <button
            [routerLink]="['/dashboard/student/list']"
            routerLinkActive="bg-primary-100 dark:bg-primary-800"
            class="btn btn-menu"
          >
            My Courses
          </button>
        </div>
        <div *ngIf="currentMemberRoleName() === 'manager'">
          <button
            [routerLink]="['/dashboard/manager/student']"
            routerLinkActive="bg-primary-100 dark:bg-primary-800"
            class="btn btn-menu"
          >
            My Courses
          </button>
        </div>

        <button (click)="toggleTheme()" class="btn btn-menu">
          <span
            class="flex flex-row gap-2 align-middle"
            *ngIf="(theme$ | async) === 'light'"
            ><i class="material-icons">light_mode</i> Light Mode</span
          >
          <span
            class="flex flex-row gap-2 align-middle"
            *ngIf="(theme$ | async) === 'dark'"
            ><i class="material-icons">dark_mode</i> Dark Mode</span
          >
        </button>
        <button
          class="btn w-full !block text-left text-sm font-medium hover:bg-primary-100"
          role="menuitem"
          tabindex="-1"
          id="menu-item-3"
          (click)="signOut()"
        >
          <span class="flex flex-row gap-2 align-middle">
            <i class="material-icons">logout</i>Sign out
          </span>
        </button>
      </div>
    </div>
  </mat-menu>
</div>
