<div
  class="flex flex-col mx-auto justify-center space-y-8 max-w-2xl p-16 rounded-xl bg-neutral-100 dark:bg-neutral-700"
>
  <div class="text-center">
    <h2 class="text-2xl sm:text-4xl leading-tight">
      {{ actionTitle }} a media
    </h2>
  </div>

  <ng-container *ngIf="media">
    <div class="flex flex-col justify-between space-y-8">
      <form [formGroup]="mediaForm" class="space-y-2">
        <mat-form-field class="w-full">
          <mat-label>Media type</mat-label>
          <mat-select #types formControlName="typeMedia" required>
            <mat-option *ngFor="let option of optionsMethod" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input
            matInput
            formControlName="title"
            placeholder="Media title..."
            maxlength="50"
          />
          <mat-error *ngIf="c['title'].errors && c['title'].touched">
            <span *ngIf="c['title'].errors['required']">Title is required</span>
            <span *ngIf="c['title'].errors['maxlength']">
              Title must not exceed 50 characters</span
            >
            <span *ngIf="c['title'].value.length === 50">
              Title must not exceed 50 characters</span
            >
          </mat-error>
          <mat-hint>50 max characts</mat-hint>
        </mat-form-field>
        <mat-form-field class="w-full">
          <input matInput formControlName="summary" placeholder="Summary..." />
        </mat-form-field>
        <mat-form-field class="w-full">
          <input
            matInput
            formControlName="duration"
            placeholder="Media duration in seconds..."
            type="number"
            min="0"
            step="1"
            value="0"
            numbersOnly
          />
          <mat-error *ngIf="c['duration'].errors && c['duration'].touched">
            <span
              *ngIf="
                c['duration'].errors['pattern'] ||
                c['duration'].errors['required']
              "
              >Duration must be a positive integer</span
            >
          </mat-error>
        </mat-form-field>
        <mat-form-field
          class="w-full"
          *ngIf="
            !['Document', 'Image', 'Slide', 'PDF'].includes(
              c['typeMedia'].value
            )
          "
        >
          <input matInput formControlName="url" placeholder="Media url..." />
          <mat-error *ngIf="c['url'].errors && c['url'].touched">
            Url is required
          </mat-error>
        </mat-form-field>
        <!-- Upload file UI -->
      </form>
      <div class="text-center">
        <input
          type="file"
          class=""
          (change)="selectFile($event)"
          *ngIf="
            ['Document', 'Image', 'Slide', 'PDF'].includes(c['typeMedia'].value)
          "
        />
      </div>
      <div mat-dialog-actions class="flex justify-center">
        <button
          class="mx-2 btn outlined rounded-xl hover:border-transparent"
          (click)="onBack()"
        >
          Back
        </button>
        <button
          mat-flat-button
          color="primary"
          [disabled]="
            mediaForm.invalid ||
            (['Document', 'Image', 'Slide', 'PDF'].includes(
              c['typeMedia'].value
            ) &&
              !mediaForm.get('file')?.value)
          "
          (click)="onSubmit()"
          class="mx-4 btn primary"
        >
          {{ actionTitle }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
