<div class="grid grid-cols-3 gap-4">
  <div>
    <h1>Students</h1>
  </div>
  <div class="justify-self-end col-span-2">
    <button mat-flat-button color="warn" class="my-3 mr-3" (click)="multipleDelete()"
      [disabled]="this.checkedStudents.length === 0">Remove selected</button>
    <button mat-flat-button color="primary" class="my-3" (click)="openForm()">+ Add a new
      Student</button>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="check-uncheck-all" [(ngModel)]="checkUncheckAll"
          (ngModelChange)="onCheckUncheckAll()">
      </th>
      <th id="id" (click)="byId()" [ngClass]="{'sorted': sortDefault === 'id'}">
        <span class="down-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === 1">&gt;</span>
        Id
        <span class="up-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === -1">&lt;</span>
      </th>
      <th>
        Initials
      </th>
      <th id="last-name" (click)="byLastname()" [ngClass]="{'sorted': sortDefault === 'lastName'}">
        <span class="down-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === 1">&gt;</span>
        Lastname
        <span class="up-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === -1">&gt;</span>
      </th>
      <th>Firstname</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody *ngIf="students.length">
    <tr *ngFor="let student of students">
      <td>
        <input class="student-check" type="checkbox" [(ngModel)]="student.isSelected!"
          (ngModelChange)="onSelectStudent(student)">
      </td>
      <td>{{ student.id }}</td>
      <td>
        <i class="bubble" (click)="openForm(student)">{{ student | initials: {lastNameFirst: true} }}</i>
      </td>
      <td>{{ student.lastName | uppercase }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.email }}</td>
      <td><button mat-button color="primary" mat-icon-button [matMenuTriggerFor]="menuStudent"
          (click)="$event.stopPropagation()">
          ...
        </button>
        <mat-menu #menuStudent="matMenu">
          <button mat-menu-item (click)="openForm(student)">
            <span>Update student</span>
          </button>
          <button mat-menu-item (click)="delete(student)">
            <span class="text-red">Delete student</span>
          </button>
        </mat-menu>

      </td>
    </tr>
  </tbody>
</table>