<div>
  <form [formGroup]="form">
    <fieldset>
      <h1 class="flex justify-center mx-6">Student infos</h1>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-4">
        <mat-form-field>
          <input matInput placeholder="Student name..." formControlName="lastName">
          <mat-error *ngIf="c['lastName'].errors && c['lastName'].touched">
            Lastname is required
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student firstname..." formControlName="firstName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student email..." formControlName="email">
          <mat-error *ngIf="c['email'].errors && c['email'].touched">
            <span *ngIf="c['email'].hasError('required')">
              Email is required
            </span>
            <span *ngIf="c['email'].hasError('pattern')">
              Email doesn't match email pattern
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student phone number..." formControlName="phoneNumber">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Student login..." formControlName="login">
          <mat-error *ngIf="c['login'].errors && c['login'].touched">
            <span *ngIf="c['login'].hasError('required')">
              Login cannot be empty
            </span>
            <span *ngIf="c['login'].hasError('minlength')">
              Not enough chars (at least 8)
            </span>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Student password..." formControlName="password">
          <mat-error *ngIf="c['password'].errors && c['password'].touched">
            <span *ngIf="c['password'].hasError('required')">
              Password cannot be empty
            </span>
            <span *ngIf="c['password'].hasError('minlength')">
              Not enough chars (at least 8)
            </span>
            <span *ngIf="c['password'].hasError('pattern')">
              Password must have upperchar, digit
            </span>
          </mat-error>
        </mat-form-field>
      </div>
    </fieldset>
  </form>


  <div mat-dialog-actions class="flex justify-center mt-6">
    <button mat-flat-button color="warn" (click)="onNoClick()" class="px-12 mx-2">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="form.invalid" cdkFocusInitial
      class="px-12 mx-2">{{
      okButtonLabel }}</button>
  </div>