<div class="grid grid-cols-1 lg:grid-cols-2 gap-8" [@fadeInOut]>
  <div
    class="flex flex-col lg:items-center md:align-middle p-16 rounded-2xl w-full bg-neutral-50 dark:bg-neutral-700"
  >
    <h1 class="mb-8">Update a module</h1>

    <div class="flex flex-col items-center justify-center min-w-full space-y-4">
      <ng-container *ngIf="isDataAvailable">
        <form [formGroup]="moduleForm" mat-dialog-content class="w-full">
          <mat-form-field class="w-full">
            <input
              matInput
              formControlName="name"
              placeholder="Module name..."
            />
            <mat-error *ngIf="c['name'].errors && c['name'].touched">
              Name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <input
              matInput
              formControlName="objective"
              placeholder="Objective..."
            />
          </mat-form-field>
        </form>

        <div
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          class="w-full space-y-2"
        >
          <ng-container *ngIf="medias">
            <div
              class="text-neutral-400 rounded-xl px-6 py-4 border border-dashed"
              [ngClass]="{ hidden: medias.length >= 1 }"
            >
              No media has been provided for this module yet.
            </div>
            <ul *ngFor="let media of medias" class="list-none w-full">
              <li
                cdkDrag
                class="bg-neutral-100 px-6 py-4 rounded-xl flex flex-row justify-between dark:bg-neutral-800"
              >
                <mat-icon class="dragIco dark:text-white" color="primary"
                  >drag_indicator</mat-icon
                >
                {{ media.title }}
                <mat-icon (click)="removeMedia(media)" color="primary"
                  >delete</mat-icon
                >
              </li>
            </ul>
          </ng-container>
        </div>

        <div class="flex flex-row gap-2 w-full mt-10">
          <button class="w-full btn primary" (click)="showAddMedia()">
            Import media
          </button>
          <button class="w-full btn primary" (click)="showCreateMedia()">
            New media
          </button>
        </div>

        <div mat-dialog-actions class="flex flex-row gap-2">
          <button mat-flat-button color="warn" (click)="onNoClick()" class="">
            Cancel
          </button>
          <button
            cdkFocusInitial
            mat-flat-button
            color="primary"
            [disabled]="moduleForm.invalid"
            (click)="onSubmit()"
            class=""
          >
            Update
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-container *ngIf="addMediaVisible">
    <div class="p-8 bg-neutral-50 dark:bg-neutral-700 rounded-2xl h-max">
      <app-add-media
        (idMedia)="addMedia($event)"
        [mediasInModule]="medias"
      ></app-add-media>
    </div>
  </ng-container>

  <ng-container *ngIf="createMediaVisible">
    <div class="p-8 bg-neutral-50 dark:bg-neutral-700 rounded-2xl h-max">
      <app-create-media
        [visibility]="createMediaVisible"
        (newItemEvent)="closeCreate($event)"
        (idNewMedia)="addNewMedia($event)"
      ></app-create-media>
    </div>
  </ng-container>
</div>
